div#header {
    background: #eee;
    min-height: 280px;
}

div#title {
    padding: 20px 5% 20px 5%;
    clear: both;
}

div#title dl dt {
    font-weight: bold;
    float: left;
}

div#title dl dt:after {
    content: "：";
}

div#social {
    padding: 5px 5% 5px 5%;
    margin: 20px 0px 20px 0px;
    clear: both;
}

/* fix the vertical position of a Facebook Like buttion */
div#social .fb_iframe_widget > span {
    vertical-align: baseline !important;
}

div#main p {
    padding-left: 20px;
    padding-right: 20px;
}

div#main h2 {
    background: #00004E;
    color: #fff;
    font-weight: bold;
    padding-left: 10px;
    clear: both;
}

div#main h3 {
    color: #00004E;
    font-weight: bold;
    border-style: solid;
    border-color: #00004E;
    border-width: 0px 0px 2px 0px;
    padding-left: 10px;
    clear: both;
}

div#main h4 {
    color: #00004E;
    font-weight: bold;
    padding-left: 10px;
    clear: both;
}

div#main img {
    width: 240px;
    height: 350px;
    float: right;
    padding: 10px 20px 10px 20px;
}
